In [1]:
print("Hello class")

Hello class

In [2]:
print(type("hello class!"))

<class 'str'>

In [3]:
print("my name is jake and i am 5 years old!")

my name is jake and i am 5 years old!

In [4]:
print("10" + "51")

1051

In [5]:
print(10.9 + 3)

13.9

In [6]:
print(5==5)

True

In [7]:
print(10==(2*5))

True

In [8]:
print(type("true"))

<class 'str'>

In [9]:
print(type(True))

<class 'bool'>

In [10]:
print(type(10.01))

<class 'float'>

In [11]:
name = input("enter name: ")
age = input("enter age: ")
print(f"My name is, {name} and i am {age} years old!")

enter name: peter
enter age: 45
My name is, peter and i am 45 years old!

In [12]:
a = 10
b = 25
##pythagoras theorem
c = ((a**2) + (b**2))**(1/2)
print(round(c, 3))

26.926

In [13]:
print(4**(1/3))

1.5874010519681994

In [15]:
name = input("enter name: ")
yb = float(input("enter year of birth: "))
print(f"my name is {name} and i am {2023-yb} years old")

enter name: john
enter year of birth: 1995
my name is john and i am 28.0 years old

# Conditionals

In [16]:
temp = float(input("enter tempearture value: "))

if temp > 20:
    print("tempertaure is high")
elif temp >=10 and temp <= 19:
    print("temperature is moderate")
elif temp >=1 and temp <=9:
    print("temperature is quite low")
elif temp <= 0:
    print("extremeley deadly temperature")
else:
    print("input not understood")

enter tempearture value: 34
tempertaure is high

In [17]:
age = int(input("enter age: "))
sex = input("enter sex: ").lower()

if age >= 20:
    if sex == "f":
        print("an adult female")
    elif sex == "m":
        print("an adult male")
        
elif age >= 13 and age <= 19:
    if sex == "f":
        print("a teenage female")
    elif sex == "m":
        print("a teenage male")
        
elif age <= 12:
    if sex == "f":
        print("a child female")
    elif sex == "m":
        print("a child male")
        
else:
    print("No input available")

enter age: 45
enter sex: m
an adult male

# Temperature conversion program

In [18]:
temp_value = float(input("enter temperature value here: "))
unit = input("enter unit->f/c: ").lower()

if unit == "f":
    temp = (temp_value - 32) * (5/9)
    if temp <= 100:
        kel = 273 + temp
        print(f"the temperature value of {temp_value} fahrenhiet is {round(kel, 3)} kelvin")
    else:
        print(f"the temperature value of {temp_value} fahrenhiet is {round(temp, 3)} celcuis")
        
elif unit == "c":
    temp = (temp_value * (9/5)) + 32
    print(f"the temperature value of {temp_value} celcius is {round(temp, 3)} fahrenheit")
else:
    print("input not understood")

enter temperature value here: 5
enter unit->f/c: c
the temperature value of 5.0 celcius is 41.0 fahrenheit

# List and Arrays

In [19]:
#x = True
b = ["ada", "tobi", 25, True, False, "james", "pedro"]

In [20]:
len(b[5])

5

In [21]:
b[2:]

[25, True, False, 'james', 'pedro']

In [22]:
print(type(b))

<class 'list'>

In [23]:
index_values = b.index("james")
index_values

5

In [24]:
print(b)

['ada', 'tobi', 25, True, False, 'james', 'pedro']

In [25]:
pos = b.index(25)
after = b[pos+1:]
print(after)

[True, False, 'james', 'pedro']

In [26]:
before =  b[:pos]
print(before)

['ada', 'tobi']

# class work

1. if the age to vote is from 18 and above
2. and the condition to vote requires a pvc
write a program that ask users for their age and if they have pvc if they do, grant them access to vote if they dont do not grant them access to vote
question 2
if the person is qualified to vote
if the person is from south, east they should vote obi if the person is from north, south west vote asiwju vote atiku

In [61]:
age = int(input("please Enter your age here: "))
pvc = bool(input("Enter True or False: "))
t = True
f = False
if age > 17 and pvc == t:
    
    print("access granted to vote")
    
elif age >18 and pc == f:
   
    print("access denied to vote")
    
else:
    print("access denied to vote!!!")

please Enter your age here: 4
Enter True or False: t
access denied to vote!!!

1. if the age to vote is from 18 and above
2. and the condition to vote requires a pvc
write a program that ask users for their age and if they have pvc if they do, grant them access to vote if they dont do not grant them access to vote
question 2
if the person is qualified to vote
if the person is from south, east they should vote obi if the person is from north, south west vote asiwju vote atiku

In [28]:
age = int(input("enter age: "))
pvc = input("do you have a pvc?: ")
voter = input("where is voter from?: ")

if age >= 18 and pvc == "yes":
    if voter == "south-south" or voter == "east":
        print("vote obi")
    elif voter == "north" or voter == "south-west":
        print("vote asiwaju!!!")
    else:
        print("vote atiku")
    
elif age < 18 and pvc == "no":
    print("access denied to vote")
else:
    print("access denied to vote!!!")

enter age: 45
do you have a pvc?: no
where is voter from?: south-west
access denied to vote!!!

- if change in temperature of a house defines the "livability" of a house
define t1 as input
define t2 as input
calculate the temperature change

- if the temp is less than 0 celcius
define kelvin by adding temperature + 273
if temperature is greater than 500 kelvin say temperature is extremely low
if temperature is less than 500 kelvin say temperature is moderately low


- if the temp is greater than 0 celcius, say temperature is too high

In [29]:
t1 = float(input("enter t1: "))
t2 = float(input("enter t2: "))
temp = t2-t1

if temp < 0:
    kelvin = temp + 273
    if kelvin > 500:
        print(f"{kelvin}kelvin: temperature is extremely low")
    elif kelvin < 500:
        print(f"{kelvin}kelvin: temperature is moderrately low")
        
elif temp > 0:
    print(f"{temp}celcuis: temperature is too high")
    
else:
    print("inputs not understood!!!")

enter t1: 4
enter t2: 7
3.0celcuis: temperature is too high

# Arrays

- sort()
- append()

In [30]:
a = [1, 5, 10, 3]
a.sort()
print(a)

[1, 3, 5, 10]

In [31]:
b = [6, 9, 10, 11]

In [32]:
c = a + b
print(c)

[1, 3, 5, 10, 6, 9, 10, 11]

In [33]:
c.append(True)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True]

In [34]:
k = [5, 10, 11]
c.append(k)
print(c)

[1, 3, 5, 10, 6, 9, 10, 11, True, [5, 10, 11]]

# forloops

In [35]:
arr = [2, 4, 7, 9, 3, 1]
for i in arr:
    print(i)

2
4
7
9
3
1

In [36]:
for i in arr:
    if i%2 != 0:
        print(i)

7
9
3
1

In [37]:
arr1 = []
arr2 = []
for i in arr:
    if i%2 != 0:
        arr1.append(i)
    if i%2 == 0:
        arr2.append(i)
print(arr2)

[2, 4]

In [38]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]

for i in a:
    print(i)

True
False
10
15.5
21
janeth
tobi
9
True

In [39]:
a = [True, False, 10, 15.5, 21, "janeth", "tobi", 9, True]

for i in a:
    if type(i) == float:
        print(i)

15.5

In [40]:
print(i)

True

In [41]:
p = []
for i in a:
    if type(i) == bool:
        p.append(i)
        
print(p)

[True, False, True]

In [42]:
print(p)

[True, False, True]

In [43]:
numb = [10, 16, 11, 8, 12, 5, 7, 3, 20]
arr = []
for i in numb:
    if i < 10:
        arr.append(i)
print(arr)

[8, 5, 7, 3]

In [44]:
odd_numb = []
even_numb = []

for i in numb:
    if i%2 == 0:
        even_numb.append(i)
    elif i%2 != 0:
        odd_numb.append(i)
        
print(odd_numb)
print(even_numb)

[11, 5, 7, 3]
[10, 16, 8, 12, 20]

In [45]:
print(5%4 == 0)

False

In [46]:
print(10%3 == 1)

True

In [47]:
print(11%5 == 0)

False

In [48]:
arrYs = [10, 20, 11, 8, 10, 6, 1]
print(arrYs)

[10, 20, 11, 8, 10, 6, 1]

In [49]:
for i in arrYs:
    if i == 10:
        print(i)

10
10

In [50]:
for i in enumerate(arrYs):
    print(i)

(0, 10)
(1, 20)
(2, 11)
(3, 8)
(4, 10)
(5, 6)
(6, 1)

In [51]:
for i, b in enumerate(arrYs):
    print(i, b)

0 10
1 20
2 11
3 8
4 10
5 6
6 1

In [52]:
for i, b in enumerate(arrYs):
    if b == 10:
        print(i)

0
4

In [53]:
for i in arrYs:
    if i == 10:
        print(arrYs.index(i))

0
0

In [54]:
####test
z = [10, 10, 11, 2]
z.index(10)

0

In [55]:
z = [10, 10, 11, 2]
for i in z:
    if i == 10:
        #print(i)
        print(z.index(10))

0
0

In [56]:
for i, b in enumerate(z):
    print(i, b)

0 10
1 10
2 11
3 2

In [57]:
for i, b in enumerate(z):
    if b == 10:
        print(i)

0
1

In [58]:
k = [5, 1, 5, 10, 11, 9, 5, 1]

index_vals = []
for i, b in enumerate(k):
    if b == 5:
        index_vals.append(i)
print(index_vals)

[0, 2, 6]

In [59]:
index_vals[2]

6

In [60]:
k[index_vals[1]+1:index_vals[2]]

[10, 11, 9]

# RANGE

In [62]:
for i in range(0, 10+1):
    print(i, i+2)

0 2
1 3
2 4
3 5
4 6
5 7
6 8
7 9
8 10
9 11
10 12

In [63]:
for i in range(0, 10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [64]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [65]:
arr =[10, 12 ,8, 6]
for i in range(0, len(arr)):
    print(i, arr[i])

0 10
1 12
2 8
3 6

In [66]:
arr1 = [10, 15, 25, 30]
arr2 = [14, 13, 17, 24]
arr_diff = []
if len(arr) == len(arr2):
    for i in range(0, len(arr2)):
        diff = arr2[i] - arr1[i]
        arr_diff.append(diff)
    print(True)

True

In [67]:
arr1 = [10, 15, 25, 30]
arr2 = [14, 13, 17, 24]
arr_diff = []
if len(arr1) == len(arr2):
    for i in range(0, len(arr2)):
        diff = arr2[i] - arr1[i]
        arr_diff.append(diff)
print(arr_diff)
#else:
   # print(False)
#print(arr_diff)

[4, -2, -8, -6]

In [68]:
names = ["jude", "caleb", "hilda", "denim"]
surname =["emmanuel", "denise", "joe", "kelvin"]
for i in range(0, len(names)):
    fullname = f"{names[i]}, {surname[i]}"
    print(fullname)

jude, emmanuel
caleb, denise
hilda, joe
denim, kelvin

In [71]:
names = ["jude", "caleb", "hilda", "denim"]
surname =["emmanuel", "denise", "joe", "kelvin"]
all_name = []
for i in range(0, len(names)):
    fullname = f"{names[i]}, {surname[i]}"
    #print(fullname)
    all_name.append(fullname)
print(all_name)

['jude, emmanuel', 'caleb, denise', 'hilda, joe', 'denim, kelvin']

# Home_work

In [72]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"]
ans = ["Jenny Yola", "Obi Tami", "Duke Philips"]

In [73]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"]
arry_name = []
for i in range(0, len(names)):
    a = names[i][0].upper() + names[i][1:]
    b = second_name[i][0].upper() + second_name[i][1:]
    fullname = f"{a} {b}"
    arry_name.append(fullname)
print(arry_name)

['Jenny Yola', 'Obi Tami', 'Duke Philips']

In [74]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"] 
ans = ["jennY yolA", "obI tamI", "dukE philipS"]
 
for i in range(0, len(second_name)):
    a = second_name[i][-1]
    print(a)

a
i
s

In [75]:
names = ["jenny", "obi", "duke"]
second_name = ["yola", "tami", "philips"] 
ans = ["jennY yolA", "obI tamI", "dukE philipS"]
arry2_name = []
for i in range(0, len(names)):
    a = names[i][:-1] + names[i][-1].upper()
    b = second_name[i][:-1] + second_name[i][-1].upper()
    fullname = f"{a} {b}"
    arry2_name.append(fullname)
print(arry2_name)

['jennY yolA', 'obI tamI', 'dukE philipS']

In [1]:
 arr = [10, 20, 20, 40, 21]
b = 0
for i in arr:
    b = i + b
    print(b)# printing inside the loo

10
30
50
90
111

In [2]:
arr = [10, 20, 20, 40, 21]
b = 0
for i in arr:
    b = i + b
print(b)# To print only the last number in the arr, you remove the print from the loop

111

In [3]:
arr = [10, 20, 20, 40, 21]
b = 0
for i in arr:
    print(i + b)# is not store inside the b

10
20
20
40
21

In [4]:
arr = [10, 20, 20, 40, 21]
n = len(arr)
print(n)

5

In [5]:
arr = [10, 20, 20, 40, 21]
n = len(arr)
b = 0
for i in arr:
    b = i + b
mean_val = b/n
print(mean_val)

22.2

In [6]:
arr = [10, 20, 20, 40, 21, 45,56,70]
arr.sort()
print(arr)

[10, 20, 20, 21, 40, 45, 56, 70]

In [7]:
mid = int(len(arr)/2)
if len(arr)%2 == 0:
    mid2 = mid - 1
    median = (arr[mid] + arr[mid2])/2
    print(median)
else:
    median = arr[mid]
    print(median)

30.5

In [8]:
mid = int(len(arr)/2)
print(mid)

4

In [9]:
mid2 = mid - 1
print(mid2)

3

In [10]:
mid = int(len(arr)/2)
if len(arr)%2 == 0:
    mid2 = mid - 1
    median = (arr[mid] + arr[mid2])/2
    print(median)

30.5

In [11]:
arr_val = [10, 16, 20, 22]
arr_val.sort()
print(arr_val)

[10, 16, 20, 22]

In [12]:
mid = int(len(arr_val))
print(mid)

4

In [13]:
arr_val = [10, 16, 20, 22]
mid = int(len(arr_val)/2)
print(mid)

2

In [14]:
mid = int(len(arr_val)/2)
if len(arr)%2 == 0:
    mid2 = mid - 1
    median = (arr_val[mid] + arr_val[mid2])/2
    print(median)

18.0

In [15]:
b = 0
for i in arr_val:
    b = i + b
    print(b)

10
26
46
68

In [16]:
b = 0
for i in arr_val:
    b = i + b
print(b)

68

In [17]:
arr_diff = []
for i in arr_val:
    j = b - i
    arr_diff.append(j)
print(arr_diff)

[58, 52, 48, 46]

In [18]:
arr_diff = []
b = 0
for i in arr_val:
    b = b + i
for i in arr_val:
    j = b - i
    arr_diff.append(j)
print(arr_diff)

[58, 52, 48, 46]

In [19]:
arr_diff = []
b = 0
for i in arr_val:
    b = b + i
for i in arr_val:
    j = b-i
    arr_diff.append(j)
print(arr_diff)

[58, 52, 48, 46]

In [20]:
arr_val = [10, 16, 20, 22]
n = len(arr_val)
b = 0
for i in arr_val:
    b = i + b
mean_val = b/n
print(mean_val)

17.0

In [22]:
arr = ["james", 10, 11, "constance", "tobi", 22.5, "jeremiah"]
for i in arr:
    print(i)

james
10
11
constance
tobi
22.5
jeremiah

In [23]:
arr = ["james", 10, 11, "constance", "tobi", 22.5, "jeremiah"]
val = []
for i in arr:
    if type(i) == str:
        str_len = len(i)
        val.append(str_len)
    else:
        val.append(i)
b = 0
for i in val:
    b = i + b
print(b)

69.5

In [24]:
arr3 = ["tami", "claire", 25, 10, "jose", 12.5]

for i in arr3:
    if type(i) == int or type(i) == float:
        b = i + b
print(b)

117.0

In [25]:
arr1 = [10, 15, 21]
arr2 = [8, 6, 10]
if len(arr1) == len(arr2):
    for i in range(0, len(arr1)):
        a = arr1[i] - arr2[i]
        print(a)
else:
    print("unequal length") or print("equal lenght")

2
9
11

In [26]:
arr1 = [10, 15, 21]
arr2 = [8, 6,]
if len(arr1) == len(arr2):
    for i in range(0, len(arr1)):
        a = arr1[i] - arr2[i]
        print(a)
else:
    k = len(arr1) -len(arr2)
    for i in range(k):
        arr2.append(0)
    for i in range(0, len(arr1)):
        d = arr1[i] - arr2[i]
        print(d)

2
9
21

In [27]:
arr1 = [10, 15]
arr2 = [8, 6, 10, 8, 11]
if len(arr2) == len(arr1):
    for i in range(0, len(arr2)):
        a = arr2[i] - arr1[i]
        print(a)
else:
    k = len(arr2) -len(arr1)
    for i in range(k):
        arr1.append(0)
    for i in range(0, len(arr2)):
        d = arr2[i] - arr1[i]
        print(d)

-2
-9
10
8
11

In [28]:
arr1 = [10, 15]
arr2 = [8, 6, 10, 8, 11]
k = len(arr1) - len(arr2)
print(k)

-3

In [29]:
arr1 = [10, 15]
arr2 = [8, 6, 10, 8, 11]
k = int(str(len(arr1) - len(arr2))[1])
print(k)

3

# FACTORIAL CALCULATOR

In [30]:
#k =10!
fact = 4
b = 1
for i in range(0+1, fact+1):
    b = i*b
print(b)

24

In [31]:
fact = int(input("enter factorial_vals: "))
if type(fact) == int:
    b = 1
    for i in range(0+1, fact+1):
        b = i * b
    print(b)
else:
    print("Note factorialable!!!")

enter factorial_vals: 5
120

In [34]:
import cmath
a = int(input("enter the value of (a! = 0): ")) #when a is not equals to zero
b = int(input("enter the value of b: "))
c = int(input("enter the value of c: "))

# to find disccriminants

d = (b**2) - (4*a*c)

#to find the roots
x1 = ((-b-cmath.sqrt(d)) / (2*a))
x2 = ((-b+cmath.sqrt(d)) / (2*a))
print("the values of: ", x1,x2)

enter the value of (a! = 0): 2
enter the value of b: 5
enter the value of c: 6
the values of:  (-1.25-1.1989578808281798j) (-1.25+1.1989578808281798j)

In [35]:
distrb = [1, 2, 7, 8, 9, 11, 21, 15]
sum_val = 0
for i in distrb:
    sum_val = i + sum_val
print(sum_val) # the sum sum symbol is E

74

In [36]:
mean_val = round(sum_val/len(distrb),3)
print(mean_val) # mean symbol is M

9.25

In [37]:
arr_distrb =[]
for i in distrb:
    dist = round((i - mean_val)**2, 3)
    arr_distrb.append(dist)
print(arr_distrb)

[68.062, 52.562, 5.062, 1.562, 0.062, 3.062, 138.062, 33.062]

In [38]:
sum_distrb = 0
for i in arr_distrb:
    sum_distrb = i + sum_distrb
print(sum_distrb)

301.496

In [39]:
mean_distrb = sum_distrb/len(distrb)
print(mean_distrb)

37.687

In [40]:
std_dev = round(mean_distrb**(1/2),3)
print(std_dev)

6.139

# FUNCTIONS

In [ ]:
# - Re-usbale block of codes

In [ ]:
# y(x) = 2x + 1
# y(2) = 2*2 +1 = 5
# y = 5

In [41]:
x = 2
b = (2 * x) + 1
print(b)

5

In [42]:
def y_function(x):
    b = (2 * x) + 1
    return b

print(y_function(x=8))

17

In [43]:
arr_val = [2, 10, 11, 6, 9]

In [44]:
sum_val = 0
for i in arr_val:
    sum_val = i + sum_val
print(sum_val)

38

In [45]:
def sum_arr(x):
    sum_val = 0
    for i in x:
        sum_val = i + sum_val
    return sum_val

arr_val = [15, 2, 10, 11, 6, 9, 11]
print(sum_arr(x=arr_val))

64

In [ ]:
###write a program that can can get the max value in array and divide it by the minimum value in that array

In [46]:
arr_val = [2, 10, 11, 6, 9, 21, 13, 16, 7]

In [47]:
def minimum_val(x):
    x.sort()
    min_val = x[0]
    return min_val

min_ = minimum_val(x=arr_val)
print(min_)

2

In [48]:
def maximum_val(x):
    x.sort()
    max_val = x[-1]
    return max_val

max_ = maximum_val(x=arr_val)
print(max_)

21

In [49]:
print(max_/min_)

10.5

In [51]:
def minimum_value(x):
    return f" john is a {x}"

print(minimum_value(x="boy"))

 john is a boy

In [52]:
arr_val = [2, 10, 11, 6, 9, 21, 13, 16, 7]
arr_val.sort()
print(arr_val[-1])

21

In [53]:
def arr_maximum(arr_val):
    arr_val.sort()
    max_val = arr_val[-1]
    return max_val

x = [6, 7, 1, 3, 2]
arr_maximum(arr_val=x)

7

In [54]:
def arr_maximum(arr_val):
    arr_val.sort()
    min_val = arr_val[0]
    return min_val

x = [6, 7, 1, 3, 2]
arr_maximum(arr_val=x)

1

In [55]:
arr = [1, 10, 6, 7, 11]

sum_val = 0
for i in arr:
    sum_val = i + sum_val
#print(sum_val)
mean_val = sum_val/len(arr)
print(mean_val)

7.0

In [56]:
def mean_val(arr):
    sum_val = 0
    for i in arr:
        sum_val = i + sum_val

    mean_val = sum_val/len(arr)
    return round(mean_val, 3)

p = [8, 16, 12, 13, 2, 4]
mean_val(arr=p)

9.167

In [57]:
name1 = ["george",  "philip", "katty"]
name2 = ["akpan", "odiegwu", "johnson"]

#==> [George Akpan, Philip Odiegwu, Katty Johnson]

In [58]:
final_names = []
for i in range(0, len(name1)):
    name1_ = name1[i][0].upper() + name1[i][1:]
    name2_ = name2[i][0].upper() + name2[i][1:]
    fullnames = f"{name1_} {name2_}"
    final_names.append(fullnames)
print(final_names)

['George Akpan', 'Philip Odiegwu', 'Katty Johnson']

In [60]:
def get_names(name1, name2):
    final_names = []
    for i in range(0, len(name1)):
        name1_ = name1[i][0].upper() + name1[i][1:]
        name2_ = name2[i][0].upper() + name2[i][1:]
        fullnames = f"{name1_} {name2_}"
        final_names.append(fullnames)
    return final_names

In [61]:
a = ["john", "zazi"]
b = ["lenin", "faith"]
get_names(name1=a, name2=b)

['John Lenin', 'Zazi Faith']

In [62]:
###write a function that will calculate the factorial of any integer
### write a function that will calculate the number of vowel sound in a string

In [63]:
# "aeiou"
# str_val = "mathew"
# return 2

In [66]:
def fact(n):
    if n < 0:
        return 'does not exist'# factorial doesn't exist because n is less than 0
    elif n == 0:
        return 1 # factorial exist because n is greater than 0 
    else:
        return n * fact(n-1)
fact_val = int(input("Enter number: "))
print(fact(fact_val))

Enter number: 40
815915283247897734345611269596115894272000000000

In [65]:
vowels = ["a", "e", "i", "o", "u"]
found_vowels = []
for i in "jane":
    if i in vowels:
        found_vowels.append(i)
print(len(found_vowels))

2

In [67]:
def count_vowels(x):
    found_vowels = []
    vowels = "aeiou"
    v_val = "_".join(vowels)
    new_val = v_val.split("_")
    for i in x:
        if i in vowels:
            found_vowels.append(i)
    return len(found_vowels)
count_vowels(x ="jane")

2

In [68]:
def number_vowels(x):
    vowels = ["a", "e", "i", "o", "u"]
    found_vowels = []
    for i in  x:
        if i in vowels:
            found_vowels.append(i)
    return len(found_vowels)
number_vowels(x= "ibiso")

3

In [69]:
b = "ibiso"
c = list(set(b))
print(c)

['s', 'b', 'i', 'o']

In [70]:
def number_vowels(x):
    vowels = ["a", "e", "i", "o", "u"]
    found_vowels = []
    for i in  x:
        if i in vowels:
            found_vowels.append(i)
    count_list = list(set(found_vowels))
    return len(count_list)
number_vowels(x= "ibiso")

2

In [71]:
x = ["i", "b", "i", "s", "o"]
set(x)

{'b', 'i', 'o', 's'}

# list comprehension

In [72]:
arr = [1, 3, 4, 10, 4]
k = []
for i in arr:
    if i%2 == 0:
        k.append(i)
print(k)

[4, 10, 4]

In [73]:
a = [i for i in arr if i%2 == 0]
b = [i for i in arr if i%2 != 0]
print(a)
print(b)

[4, 10, 4]
[1, 3]

In [74]:
print(arr)

[1, 3, 4, 10, 4]

In [75]:
j = [round((i**(1/2)), 2) for i in arr  if i%2 == 0]
print(j)

[2.0, 3.16, 2.0]

In [76]:
d = [[i*2, i/2, (i**(1/2))] for i in arr if i%2 == 0]
print(d)

[[8, 2.0, 2.0], [20, 5.0, 3.1622776601683795], [8, 2.0, 2.0]]

In [77]:
for i in d:
    print(i)

[8, 2.0, 2.0]
[20, 5.0, 3.1622776601683795]
[8, 2.0, 2.0]

In [78]:
#write a function that can count the strings in an array and arrange from the highest count to the lowest counts
# arr_str = ["ubong", "eyo", "johnson", 'mina']
# ===> ["johnson", "ubong", "mina", "eyo"]

In [80]:
arr_str = ["Ubong", "Eyo", "Johnson", "Mina"]
arr_list = list(set(arr_str)) 
print(arr_list)

['Ubong', 'Eyo', 'Mina', 'Johnson']